body {
	font-family: sans-serif;
}

body.scylec-mode-script .slide {
	page-break-inside: avoid;
	width: 40%;
	float: right;
	clear: right;
	border: 1px solid #000;
	margin: 0 0 0.5em 0.5em;
	padding: 0.3em;
	font-size: 85%;
}

body.scylec-mode-presentation #scylec-viewport {
	font-size: 250%;
	transition: -webkit-transform 0.5s;
}

.slide aside {
	display: none;
}

#scylec-nav {
	position: fixed;
	top: -30px;
	right: 0;
	margin-right: 50px;
	padding: 0 10px;
	border-radius: 3px;
	height: 24px;
	float: right;
	background-color: #888;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
	opacity: 0;
	transition: top 0.5s, opacity 0.5s;
}

#scylec-nav.visible {
	top: 6px;
	opacity: 0.8;
}

#scylec-blanker {
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s;
}

body.scylec-blank #scylec-viewport {
	-webkit-transform: scale(10, 0.05);
	opacity: 0.5;
}

body.scylec-blank #scylec-blanker {
	display: block;
	opacity: 1;
}
